/*Estilos generales de la landing page*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}

li {
   list-style: none;
   text-decoration: none; 
   color: #F5F5F5;
}

.border_radius {
    border-radius: 30px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

main {
    font-family: "Poppins", sans-serif;   
}








/*******************?HEADER*******************/

/*Estilos del header*/

.header_container {
    background-color: #fff;   
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 40px;
}

.header_img {
    width: 200px;
}

.header_img img {
    width: 100%;
}

.header_btn button {
    background-color: transparent;
    border: 2px solid #999999;
    cursor: pointer;
    color: #999999;
    padding: 5px 30px;
}

.header_btn button:hover {
    background-color: #54C5F3;
    border: 2px solid #54C5F3;
    border-radius: 50px;
    color: #F5F5F5;
}

.header_btn button:active {
    background-color: #54C5F3;
    border: 2px solid #54C5F3;
    border-radius: 50px;
}








/*******************?BANNER********************/


/*Estilos de la primera sección de toda la landing page*/

.main_banner {
    display: flex;
    justify-content: space-around;     
    align-items: center; 
    padding: 50px 100px;
    background-color: #000C5A;
    color: #F5F5F5;
}

.main_banner .description, .main_banner .image {
    max-width: 50vw;
}

.main_banner .description p, .main_banner .description button{
    margin: 10px 0;
}

.main_banner .description {
    padding-right: 100px;
}

.main_banner .description h2 {
    font-size: 50px;
    font-weight: bold;  
    line-height: 70px;   
}

.main_banner .description h2 span:nth-child(1) {
    color:#DA3731;
}

.main_banner .description h2 span:nth-child(2) {
    color: #F5F5F5;
}

.main_banner .description h2 span:nth-child(3) {
    color:#54C5F3;
}

.main_banner .description p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 20px 0;
}

.main_banner .description button {   
    background-color: #DA3731;
    width: 250px;
    height: 40px;
    padding: 5px;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.main_banner .image {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    padding-right: 100px;   
}

.main_banner .image img {
    max-width: 200px;   
}

.main_banner .image img:nth-child(1) {
    border-radius: 50px 0 0 50px;
}

.main_banner .image img:nth-child(2) {
    border-radius: 20px;
}

.main_banner .image img:nth-child(3) {
    border-radius: 20px;
}

.main_banner .image img:nth-child(4) {
    border-radius: 0 50px 50px 0;
}


@media (max-width: 1024px) {

    .main_banner .description h2 {
        font-size: 40px;       
        line-height: 50px;   
    }

    .main_banner .description, .main_banner .image {
        max-width: 90vw;
        padding: 0;
    }
    
    .main_banner .description {
        text-align: center;
        margin: 50px 0;
    }

    .main_banner .description p {
        font-size: 16px;       
        line-height: 20px;       
    }

    .main_banner {
       flex-direction: column;
       padding: 20px;
    }

    .main_banner .image img {
        max-width: 150px;
    }

    .main_banner .image {
        grid-gap: 15px;
    }
    

    
}








/*******************?PARTNERS********************/

/*Estilos de los logos de los que apoyan el proyecto*/


.main_partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    background-color:#2C77B0;
    color: #F5F5F5;
    padding: 30px 0;
}

.main_partners p {
    font-size: 20px;
    padding: 20px;
}

.partners {
    width: 100%; 
    max-width: 1000px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;  
    margin: 0 auto;  
}

.partners img {
    background-color: #FFFFFF;
    width: 200px;
    height: 100px;
    border-radius: 30px;  
    padding: 20px;  
    object-fit: contain;
    margin: 0 20px;   
}

.partners img:nth-child(1) {
    padding: 0;
}

@media (max-width: 1024px) {

    .main_partners p {
        font-size: 16px;       
    }
    
}








/*******************?BENEFITS********************/

/*Estilos de la sección de Beneficios de nuestro programa*/

.main_benefits {   
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 50px 0;
}

.main_benefits h2 {
    font-size: 40px;
    padding: 20px;
    color: #DA3731;
}

.main_benefits p {  
    color: #2C77B0;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
}

.main_benefits p:nth-child(4) {
    margin-top: 50px;
}

.main_benefits__cards {
    width: 100%;
    max-width: 1200px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.main_benefits__cards .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999999;
    height: 250px;
    width: 300px;
    padding: 20px;
    margin: 10px 20px;
}

.main_benefits__cards .card img {
    width: 60px;
    height: 60px;    
    border-radius: 20px;
}

.main_benefits__cards .card p {
    color: #000C5A;
}

/*Ultimas dos tarjetas de la sección de Beneficios*/

.cards_asesory {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


@media (max-width: 1024px) {

    .main_benefits {
        padding: 20px;
        justify-content: center;
    }
    
    .main_benefits h2 {
        font-size: 20px;
        padding: 0;
        text-align: center;
    }

    .main_benefits p {
        font-size: 16px;
    }
}








/*******************?SCHEDULE********************/

/*Estilos de la sección donde se puede agendar asesoria*/

.main_schedule {
    display: flex;  
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
    padding: 50px;
}

.main_schedule .description , .main_schedule .image {
    display: flex;
    flex-direction: column;     
    padding: 0 50px; 
}

.main_schedule .description {
    display: flex;
    justify-content: left;    
}

.main_schedule .description h2 {
    font-size: 36px;
    color: #000C5A;
    max-width: 600px;
}

.main_schedule .description h2 span {
   color: #DA3731;
}

.main_schedule .description p {
    font-size: 18px;
    color: #000000;
    margin: 20px 0;
}

.main_schedule .description .btn {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #DA3731;
    color: #F5F5F5;
    font-weight: bold;    
    margin: 20px 0;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.main_schedule .image img {
    width: 100%;   
}

@media (max-width: 1024px) {

    .main_schedule {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;              
    }

    .main_schedule .description {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .main_schedule .description h2 {        
        max-width: 90%;
        margin: 0 auto;
    }

    .main_schedule .description p {        
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .main_schedule .description .btn {
        margin: 20px auto;
    }

    .main_schedule .image {
        margin-top: 50px;
        padding: 0;
    }

    .main_schedule .image img {
        width: 80%;
        margin: 0 auto;
    }

    .main_schedule .description, .main_schedule .image {
        width: 90vw;
    }
}







/*******************?PROGRAMS*******************/

/*Estilos de sección de los programas académicos, con tarjetas*/

.main_programs {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    padding: 50px 20px;
}

.main_programs h2, .main_programs p {
    padding: 20px;
}

.main_programs h2 {
    font-size: 40px;
    color: #000C5A;
}

.main_programs p:nth-child(2) {
    max-width: 1000px;
    font-size: 20px;
    padding: 50px;
    margin: 0 auto;
}

.programs__cards {    
    max-width: 1000px;   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    margin: 0 auto;
}

.programs__cards .card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: #2C77B0;   
    color: #F5F5F5;
}

.programs__cards .card img {
    width: 100%;    
    object-fit: cover;
    border-radius: 10px;
}

.programs__cards .card .card__paragraph {
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 60%;
    padding: 20px;
}

.programs__cards .card .card__paragraph p {
    font-size: 14px;
    padding: 0;
}

.programs__cards .card .card__paragraph .card_subtitle {
    display: flex;
    font-weight: bold;
    height: 50px;
    align-items: center;
}

.programs__cards .card .card_subtitle p {
    font-weight: bold;   
}

.programs__cards .card .card__paragraph .card_description {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {

    .main_programs {
        padding: 50px 0;
    }

    .main_programs h2 {
        width: 90%;
        font-size: 32px;
        margin: 0 auto;
        padding: 0;
    }
     
    .main_programs p:nth-child(2) {
        width: 80%;
        margin: 20px auto; 
        padding: 0;
    }
}





/*******************?DREAMS*******************/

/*Estilos de sección que habla sobre hacer realidad tus sueños*/

.main_dreams {   
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#54C5F3;
}

.main_dreams .image, .main_dreams .paragraph {
    width: 50vw;
}

.main_dreams .image img { 
    width: 100%;
    display: flex;
    object-fit: cover;
}

.main_dreams .image {
    position: relative;
}

.main_dreams .image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%; 
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #54C5F3 100%);
    pointer-events: none;
}

.main_dreams .paragraph {
    padding-right: 200px;
}

.main_dreams .paragraph h2 {
    font-size: 40px;
    color: #000C5A;
    margin: 30px 0;
}

.main_dreams .paragraph p {
    font-size: 20px;
    line-height: 30px;
    color: #F5F5F5;
}


@media (max-width: 1024px) {

    .main_dreams  {
        flex-direction: column;
        padding: 50px;
    }

    .main_dreams .image {
        width: 90vw;
    }

    .main_dreams .image::after {
        width: 0;       
    }
    
    .main_dreams .paragraph {
        width: 90vw;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .main_dreams .paragraph h2 {
        font-size: 32px;
    }

    .main_dreams .paragraph p {
        font-size: 16px;
    }
  
}









/*******************?TESTIMONIALS*******************/

/*Estilos de slider de los testimonios*/

.main_testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;   
    justify-items: center;
    background-color: #F5F5F5;
    padding: 50px 0;
    margin: 0 auto;
}

.main_testimonials h2 {  
    color: #DA3731;
    margin: 20px 0;
    font-size: 40px;
}

.slider_marco {
    position: relative;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    overflow: hidden;
}

.slider_testimonials__cards {       
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider_cards_container {   
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    gap: auto; 
}

.slider_testimonials__cards .card {
    min-width: 40vw;
    max-width: 500px;
    display: flex;
    align-items: center;
    background-color: #E6E6E6;
    padding: 30px;
    font-weight: 500;
    margin: 0 20px;
}

/*Se retira el margen derecho a última tarjeta para mejorar vista*/

.slider_cards_container .card_ultimate {
    margin-right: 0;
}

.slider_testimonials__cards .card .image {
    width: 100px;
    margin-right: 20px;
}

.slider_testimonials__cards .card .image img {
    width: 100%;
    border-radius: 50%;
}

.slider_testimonials__cards .card .description {
    width: 370px;
    text-align: left;
}

.slider_testimonials__cards .card .description p {
    font-size: 12px;
}

.slider_testimonials__cards .card .description p:nth-child(2) {
    margin-top: 20px;
    color: #DA3731;
}

.slider_marco .arrow_back,
.slider_marco .arrow_next {
    z-index: 100;
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.slider_marco .arrow_back {
    left: 0;
    transform: rotate(180deg);
}

.slider_marco .arrow_next {
    right: 0;
}

@media (max-width: 1024px) {
    .slider_cards_container {
        max-width: 600px;
    }

    .slider_testimonials__cards .card {
        width: 90vw;
        max-width: 100%;
        margin: 30px;
    }

    .slider_marco .arrow_back {
        display: none;
    }

    .slider_marco .arrow_next {
        display: none;
    }
    
    .main_testimonials h2 {
        font-size: 32px;
    }

    .main_testimonials p {
        font-size: 12px;
    }

@media (max-width: 600px) {
    .slider_cards_container {
        max-width: 380px;            
    }

    .slider_testimonials__cards {
        padding: 0;
    }

    .slider_testimonials__cards .card {  
        margin: 30px 0;
        margin-right: 30px;
        padding: 20px;
    }    

    .slider_testimonials__cards .card .description p {
        font-size: px;
    }
    
}

}








/*******************?FOOTER******************/

/*Estilos del footer*/

.footer_container {
    width: 100vw;
    background-color: #000C5A;
    padding: 20px 100px;
}

.footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.footer .image , .footer .assets {
    max-width: 50vw;
}

.footer .image {
    width: 200px;
    text-align: center;    
    color: #FFFFFF;
}

.footer .image img {
    width: 100%;
    margin-bottom: 20px;
}

.assets .assets_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    text-align: center;
}

.assets_list li {
    width: 200px; 
    display: flex;
    justify-content: center;
    cursor: pointer; 
    text-align: center; 
}

.assets__icons div {
   margin: 30px 0; 
   cursor: pointer;  
}

.icons_social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons_social a {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_social img {
    width: 20px;
    margin: 0 5px;  
    align-items: center; 
}

.icons_social .icon_facebook {
    width: 30px;
}


@media (max-width: 1024px) {

    .footer  {
        flex-direction: column;
    }  
    
    .footer_container {
        padding: 20px 20px;
    }

    .footer .image {
        max-width: 100vw;       
    }
    
    .footer .assets {
        margin-top: 60px;
        text-align: center;
    }

    .assets .assets_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
}